body{background:#ffcc99}
#pagetitle{color:blue; background:#ffff66; text-align:center}  
.pagesubtitle{color:red; cordofundodotexto:#ffccff}
.sectiontitle{color:green}
.sectionsubtitle{font-size: 23px; background:#ffcc00} 
.ptext{font-size:21px; font-style:italic; margin-left: 45px}

